/* Gallery styles */

.gallery{
	/* CSS3 Box Shadow */
	-moz-box-shadow:0 0 3px #AAAAAA;
	-webkit-box-shadow:0 0 3px #AAAAAA;
	box-shadow:0 0 3px #AAAAAA;
	
	/* CSS3 Rounded Corners */
	
	-moz-border-radius-bottomleft:4px;
	-webkit-border-bottom-left-radius:4px;
	border-bottom-left-radius:4px;
	
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
	
	border:1px solid white;
	text-align:center;
	margin:20px auto;
	background:url(../img/panel.jpg) repeat-x bottom center #ffffff;
	display:block;
	
	/* The width of the gallery */
	/*width:920px; Let's assign this from WP admin panel, otherwise it will be too big for most sites */
	overflow:hidden;
}

.fbar{
	/* The left-most vertical bar, next to the first thumbnail */
	width:2px!important;
	background:url(../img/divider.png) no-repeat right;
}


#slides{
	/* This is the slide area */
	height:400px;
	
	/* jQuery changes the width later on to the sum of the widths of all the slides. */
	width:920px;
	overflow:hidden;
}

.slide{
	float:left;
}

#slides_menu{
	/* This is the container for the thumbnails */
	height:45px;
}

#slides_menu ul{
	margin:0px;
	padding:0px;
}

#slides_menu li{
	/* Every thumbnail is a li element */
	width:60px;
	display:inline-block;
	list-style:none;
	height:45px;
	overflow:hidden;
}

#slides_menu li.inact:hover{
	/* The inactive state, highlighted on mouse over */
	background:url(../img/pic_bg.png) repeat;
}

#slides_menu li.act, #slides_menu li.act:hover{
	/* The active state of the thumb */
	background:url(../img/active_bg.png) no-repeat;
}

#slides_menu li.act a{
	cursor:default;
}


#slides_menu li a{
	display:block;
	background:url(../img/divider.png) no-repeat right;
	height:35px;
	padding-top:10px;
}

#slides_menu a img{
	border:none;
}


.main{
	/* The main container */
	margin:15px auto;
	text-align:center;
	/*width:920px;
	position:relative;*/
}
