/* Captify styling */

.caption-top, .caption-bottom {
	color: #ffffff;	
	padding: 1.2em;	
	font-weight: bold;
	font-size: 13px;	
	font-family: arial;	
	border: 0px solid #334143;
	background: #000000;
	text-shadow: 1px 1px 0 #202020;
}
.caption-top {
   border-width: 0px 0px 8px 0px;
}
.caption-bottom {
   border-width: 8px 0px 0px 0px;
}
.caption a, .caption a {
	border: 0 none;
	text-decoration: none;
	background: #000000;
	padding: 0.3em;
}
.caption a:hover, .caption a:hover {
	background: #202020;
	text-decoration:none;
	cursor:pointer;
}
.caption-wrapper {
	float: left;
}
br.c { clear: both; }

/* End of Captify */


/* Timeline Style */

.timeline{
	background: none repeat scroll 0 0 #000000;
    border: 10px solid #DBCECE;
    display: block;
    margin: 20px auto;
    overflow: hidden;
    text-align: center;
}

.fbar{
	/* The left-most vertical bar, next to the first thumbnail */
	width:1px!important;
	background:url(divider.png) no-repeat right;
	float:left;
}


#times{
	/* This is the time area */
	height:400px;
	
	/* jQuery changes the width later on to the sum of the widths of all the times. */
	width:920px;
	overflow:hidden;
}

.time{
	float:left;
}

#times_menu{
	background: none repeat scroll 0 0 #7E95A4;
    height: 28px;
	/* for IE7 */
	position:relative;
}

#times_menu ul{
 float: left;
    height: 28px;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

#times_menu li{
	/* Every thumbnail is a li element */
	display:inline-block;
	list-style:none;
	height:28px;
	overflow:hidden;
	line-height:none;
	margin:none;
	list-style:none;
	list-style-image: none;
	padding:none;
	float:left;
	text-align:center;
}

#times_menu li a, #times_menu li a:hover, #times_menu li a:visited, #times_menu span{
color:#fff;
text-decoration:none;
padding-left: 5px;
padding-right: 5px;
}

#times_menu span { 
float:left;
padding-top: 3px;
}

 #times_menu li a:hover {
 }

#times_menu li.inact:hover{
	/* The inactive state, highlighted on mouse over */
	background:url(pic_bg.png) repeat;
	height:28px;
}

#times_menu li.act, #times_menu li.act:hover{
	/* The active state of the thumb */
	background:url(pic_bg.png) repeat;
	height:28px;
}

#times_menu li.act a{
	cursor:default;
}


#times_menu li a{
	display:block;
	border-right: 1px solid #FFFFFF;
	height:28px;
	padding-top:3px;
	line-height:none;
	margin:none;
	list-style:none;
	list-style-image: none;
	padding:none;
}

#times_menu a img{
	border:none!important;
}


.main{
	/* The main container */
	margin:15px auto;
	text-align:center;
}

/* ---------------- WIDGET */

#timesw{
	/* This is the time area */
	height:400px;
	
	/* jQuery changes the width later on to the sum of the widths of all the times. */
	width:920px;
	overflow:hidden;
}

.slidew{
	float:left;
}

#timesw_menu{
	/* This is the container for the thumbnails */
	height:45px;
	/* for IE7 */
	position:relative;
}

#timesw_menu ul{
	margin:0px;
	padding:0px;
	list-style-image: none;
}

#timesw_menu li{
	/* Every thumbnail is a li element */
	width:60px;
	display:inline-block;
	list-style:none;
	height:45px;
	overflow:hidden;
	line-height:none;
	margin:none;
	list-style:none;
	list-style-image: none;
	padding:none;
	float:left;
	text-align:center;
}

#timesw_menu li.inact:hover{
	/* The inactive state, highlighted on mouse over */
	background:url(pic_bg.png) repeat;
}

#timesw_menu li.act, #timesw_menu li.act:hover{
	/* The active state of the thumb */
	background:url(active_bg.png) no-repeat;
}

#timesw_menu li.act a{
	cursor:default;
}


#timesw_menu li a{
	display:block;
	background:url(divider.png) no-repeat right;
	height:35px;
	padding-top:10px;
	line-height:none;
	margin:none;
	list-style:none;
	list-style-image: none;
	padding:none;
}

#timesw_menu a img{
	border:none!important;
}

/* ---------------- CUSTOM */

#timesc{
	/* This is the time area */
	height:400px;
	
	/* jQuery changes the width later on to the sum of the widths of all the times. */
	width:920px;
	overflow:hidden;
}

.slidec{
	float:left;
}

#times_menuc{
	/* This is the container for the thumbnails */
	height:45px;
	/* for IE7 */
	position:relative;
}

#times_menuc ul{
	margin:0px;
	padding:0px;
	list-style-image: none;
}

#times_menuc li{
	/* Every thumbnail is a li element */
	width:60px;
	display:inline-block;
	list-style:none;
	height:45px;
	overflow:hidden;
	line-height:none;
	margin:none;
	list-style:none;
	list-style-image: none;
	padding:none;
	float:left;
	text-align:center;
}

#times_menuc li.inact:hover{
	/* The inactive state, highlighted on mouse over */
	background:url(pic_bg.png) repeat;
}

#times_menuc li.act, #times_menuc li.act:hover{
	/* The active state of the thumb */
	background:url(active_bg.png) no-repeat;
}

#times_menuc li.act a{
	cursor:default;
}


#times_menuc li a{
	display:block;
	background:url(divider.png) no-repeat right;
	height:35px;
	padding-top:10px;
	line-height:none;
	margin:none;
	list-style:none;
	list-style-image: none;
	padding:none;
}

#times_menuc a img{
	border:none!important;
}

